<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elemento-c">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `elemento-c`
     * Elemento Hijo c
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoC extends Polymer.Element {
      static get is() { return 'elemento-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elemento-c'
          }
        };
      }
    }

    window.customElements.define(ElementoC.is, ElementoC);
  </script>
</dom-module>
